@model HomeViewModel

<partial name="_Carousel" />

<h2>Cake On Sale</h2>

<div class="row">

    @foreach(var cake in Model.CakeOnSale)
    {
        <partial name="_cakeCard" model="cake" />
    }

</div>
